= form_with model: [:crud, training_activity] do |form|
  = form.text_field :training_day_id, placeholder: "training_day_id"
  = form.text_field :workout_id, placeholder: "workout_id"
  = form.button button_label
