%h1 CSV Upload #{csv_upload.id}

%p= link_to "CSV Upload List", admin_csv_uploads_path

= render partial: "attrs_table", locals: { attrs: csv_upload.table_attrs }

%h2 Data

%pre.text-off-black.h-72
  %code= csv_upload.data
