= form_with model: [:crud, financial_account] do |form|
  %select#financial_account_category(name="financial_account[category]" required="true")
    %option{value: "", disabled: "true", selected: financial_account.category == nil, hidden: "true"} pick category
    - FinancialAccount::CATEGORIES.each do |category|
      %option{value: category, selected: financial_account.category == category}= category
  = form.text_field :name, placeholder: "name"
  = form.button button_label
