%h1 Edit Financial Account #{financial_account.id}

%p= link_to "Show Financial Account", crud_financial_account_path(financial_account)

= render "form", financial_account: financial_account, button_label: "update"
