%h1 Post Bin Request #{post_bin_request.id}

%p Headers

%pre.text-off-black.h-72
  %code= JSON.pretty_generate(post_bin_request.headers)

%p Params

%pre.text-off-black.h-72
  %code= JSON.pretty_generate(post_bin_request.params)

%p Body

%pre.text-off-black.h-72
  %code= post_bin_request.body
