#wrapper
  %h3 Today is a great day to make some updates!

  :javascript
    const projects = #{projects.to_json.html_safe}

  %main#root= javascript_pack_tag 'application'

  %h3 Try hard and believe in yourself!
