- content_for :header do
  = render 'static/shared/style_nav'

%article

  %h1 This is an article

  %p
    This is a sentence. This other sentence has an
    %strong important
    part! Oh wow how about a
    %em sarcastic
    sounding sentence too.

  %p This one has a #{link_to 'bit of text', ''} that's a link.

  %p And now here's a list:

  %ul
    %li Item one
    %li Item two
    %li Item three

  %h2 And here's a subhead

  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sodales
    dignissim libero, quis feugiat lectus pellentesque sed. Nullam quis
    fermentum massa, at malesuada augue. Sed eu faucibus elit. Duis laoreet
    sodales ex, ac sodales felis interdum non. Proin id feugiat nibh. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Vivamus eleifend viverra nulla, et porttitor arcu elementum
    imperdiet. Maecenas semper, justo ac luctus condimentum, sapien urna
    maximus massa, ac varius arcu eros sit amet diam.

  %p.text-sm
    Proin quis placerat est, a sollicitudin quam. In vel risus turpis.
    Pellentesque gravida scelerisque tortor viverra imperdiet. Aliquam erat
    volutpat. Donec sed turpis lobortis, hendrerit massa nec, aliquam quam.
    Aenean scelerisque dignissim nibh vel ultrices. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Donec et blandit ligula. Quisque lacus lorem,
    tempor quis tortor rhoncus, vulputate hendrerit sem. Duis nec elementum ex,
    nec efficitur sem. Quisque convallis cursus ligula, sed semper lacus
    condimentum sed. Vestibulum ut elementum turpis. Mauris quis ante id velit
    volutpat ullamcorper eget vel velit. Nunc non est ipsum.

  %p
    Vivamus ut arcu eu turpis maximus feugiat molestie nec turpis. Morbi ac leo
    nunc. Fusce auctor molestie nunc quis vulputate. Pellentesque eu justo id
    eros iaculis sodales ac eget nulla. Nunc eget augue eget dui porttitor
    facilisis. Sed egestas blandit lectus. Duis eu bibendum odio. Ut elementum
    ante lacus, sed scelerisque elit iaculis sit amet. Aenean dignissim justo
    tortor, ut volutpat velit tristique non. Maecenas egestas purus volutpat
    eros finibus, a interdum arcu vestibulum. Nulla interdum tortor justo, vel
    tempus elit porta quis. Praesent sit amet est suscipit, sagittis urna ac,
    sodales risus.

  %p
    Quisque et tempor turpis, nec sollicitudin turpis. Sed porttitor diam
    aliquam ante accumsan tempus. Integer feugiat vel ipsum ut vulputate. Nam
    ultrices pharetra ullamcorper. Nulla pellentesque elementum ipsum id
    dictum. Praesent vestibulum odio nisi, eu porttitor mi mattis ac. Vivamus
    iaculis ut libero vel eleifend. Nulla mattis arcu dolor, iaculis rutrum
    justo tincidunt eget. Maecenas condimentum enim eget pharetra bibendum.
    Pellentesque vel laoreet nunc. Praesent elementum elementum risus ac
    congue. Proin viverra semper odio, vitae maximus velit pharetra nec. Donec
    consequat et magna feugiat posuere.

  %p
    Morbi tincidunt vulputate fermentum. Nullam efficitur in est ut vulputate.
    Phasellus congue pulvinar magna, vitae efficitur tortor interdum non.
    Mauris non arcu ut nunc ullamcorper porta rutrum quis ante. Nam ultricies
    ac ex at iaculis. Nullam odio tortor, eleifend at aliquet nec, venenatis
    vulputate erat. Proin odio mi, fringilla sit amet laoreet ut, ultricies
    quis risus. Sed ipsum ligula, euismod at placerat non, tristique ornare
    magna. Duis euismod diam nec facilisis pretium. Cras et eros venenatis,
    porttitor erat in, sollicitudin ligula. Morbi at elit sed orci maximus
    sagittis. Nulla ultricies tellus ultrices, convallis purus in, efficitur
    orci. Aenean dignissim aliquam magna ac ullamcorper.
