- content_for :header do
  = render 'static/shared/style_nav'

%h1 Colors

.flex.flex-wrap.justify-between.gap-6

  %p
    black
    %span.block.border.w-40.h-40.bg-black.border-pink

  %p
    off-black
    %span.block.border.w-40.h-40.bg-off-black.border-pink

  %p
    dark-gray
    %span.block.border.w-40.h-40.bg-dark-gray.border-pink

  %p
    purple
    %span.block.border.w-40.h-40.block.bg-purple.border-pink

  %p
    pink
    %span.block.border.w-40.h-40.bg-pink.border-white

  %p
    off-white
    %span.block.border.w-40.h-40.bg-off-white.border-pink

  %p
    white
    %span.block.border.w-40.h-40.bg-white.border-pink
