- content_for :header do
  = render 'static/shared/style_nav'

%h1 Form

%form
  %input(type="text" placeholder="name" autofocus="true")
  %input(type="text" placeholder="email")
  %input(type="date")
  %textarea(placeholder="write a note")
  %input(type="password" placeholder="password")
  %input(required="true" type="file")
  %select(required="true")
    %option(value="" disabled="true" selected hidden) pick parser
    %option first
    %option second
    %option third
  %button(type="submit") submit

%h2 Another Form

%form
  %button(type="submit") submit
