- content_for :header do
  = render 'static/shared/style_nav'

%h1 Form

%form
  %input(type="text" placeholder="name" autofocus="true")
  %input(type="text" placeholder="email")
  %input(type="password" placeholder="password")
  %button(type="submit") submit
