%h1 Gift Idea #{gift_idea.id}

%p= link_to "gift ideas", admin_gift_ideas_path

%p= link_to "edit", edit_admin_gift_idea_path(gift_idea)

= render partial: "attrs_table", locals: { attrs: gift_idea.table_attrs }
