%h1 New Financial Statement for #{financial_account.name}

%p= link_to "Financial Statement List", crud_financial_account_financial_statements_path(financial_account)

= render "form", financial_account: financial_account, financial_statement: financial_statement, button_label: "create"
