@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply prose;
    @apply prose-off-white;
    @apply prose-lg;
  }

  .flash {
    @apply border;
    @apply px-6;
    @apply mb-8;
    @apply text-sm;
    @apply text-off-white;
  }

  table {
    @apply text-lg;
  }

  a {
    @apply text-purple;
    @apply underline;
  }

  a:hover {
    @apply text-pink;
  }

  textarea {
    @apply h-20;
  }

  input[type='file'] {
    @apply py-2;
    @apply text-base;
  }

  input[type='file']::file-selector-button {
    @apply border-0;
    @apply m-0;
    @apply p-0;
    @apply w-0;
  }

  input[type='date'],
  input[type='datetime-local'],
  input[type='file'],
  input[type='password'],
  input[type='text'],
  select,
  textarea {
    @apply bg-off-black;
    @apply block;
    @apply border-0;
    @apply border-b-8;
    @apply border-purple;
    @apply placeholder:text-dark-gray;
    @apply px-0;
    @apply text-off-white;
    @apply w-80;
  }

  input[type='file']:invalid,
  select:invalid {
    @apply text-dark-gray;
  }

  input:focus[type='date'],
  input:focus[type='datetime-local'],
  input:focus[type='file'],
  input:focus[type='password'],
  input:focus[type='text'],
  select:focus,
  textarea:focus,
  input:hover[type='date'],
  input:hover[type='datetime-local'],
  input:hover[type='file'],
  input:hover[type='password'],
  input:hover[type='text'],
  select:hover,
  textarea:hover {
    @apply border-pink;
    @apply ring-0;
  }

  button,
  button[type='reset'],
  button[type='submit'] {
    @apply bg-purple;
    @apply px-8;
    @apply py-2;
    @apply text-off-black;
    @apply self-start;
  }

  button:hover,
  button:hover[type='reset'],
  button:hover[type='submit'],
  button:focus,
  button:focus[type='reset'],
  button:focus[type='submit'] {
    @apply bg-pink;
    @apply outline-none;
  }

  form {
    @apply flex;
    @apply flex-col;
    @apply gap-4;
    @apply justify-between;
  }
}
