body
  background: image-url('monolith.jpg') no-repeat center center fixed
  background-size: cover
  margin: 0
  padding: 0
  text-align: center
  font-family: verdana

  h2
    color: #fff
    font-size: 40px
    text-shadow: 1px 1px 60px #000

  img
    margin-top: 50px

  form
    background-color: #000
    color: #fff
    margin: 0 auto
    width: 800px

    h1
      font-size: 60px

    input
      font-size: 20px
      margin-bottom: 20px
