- content_for :head do
  = stylesheet_link_tag 'rando', media: 'all'

%header
  %h1 The Rando Calrissian Football Pool

%div#page
  %h1 Seasons

  %ul
    - for season in seasons
      %li= link_to "#{season.name} Season", rando_season_path(season.name)
