- content_for :head do
  = javascript_include_tag 'application'

%main#root= javascript_pack_tag 'artsy_pull_requests'

:sass
  body
    font-family: monospace
    margin: 0
    padding: 0

:javascript
  var root = document.getElementById("root")
  App.cable.subscriptions.create('ArtsyPullRequestChannel', {
    received: function(data) {
      var event = new CustomEvent('NewPullRequest', { detail: data })
      root.dispatchEvent(event)
    }
  })
