- content_for :head do
  = javascript_include_tag 'application'

:javascript
  App.cable.subscriptions.create('ArtsyPullRequestChannel', {
    received: function(data) {
      console.log('websocket fired')
      console.log(data)
    }
  })
