%meta(charset='utf-8')
%meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
%title Monolithium
= csrf_meta_tags
= stylesheet_link_tag 'tailwind'
= javascript_importmap_tags
