!!!
%html
  %head
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %link(type="text/css" rel="stylesheet" href="https://webfonts.artsy.net/all-webfonts.css")
    %title Artsy Viewer
    %meta(name='viewport' content='')
    = render partial: "layouts/shared_head"
  %body
    %main(data-controller="artsy-viewer")=yield
