!!!
%html
  %head
    %title Monolithium
    = stylesheet_link_tag 'tailwind'
  %body.bg-monolith.bg-cover.bg-no-repeat.bg-fixed.bg-center
    - unless flash[:alert].nil?
      .flash.bg-purple.border-pink
        %p.alert= flash[:alert]
    - unless flash[:notice].nil?
      .flash.bg-dark-gray.border-purple
        %p.notice= flash[:notice]
